<p>Welcome to the Application</p>



<table>
<tr>
    <td>

        Welcome User 
            {{ user }} <br>
            <img src="assets/dhoni.jpg">
    </td>
    <td style="vertical-align: middle;">
        <a routerLink="newproduct" class="btn btn-success"> New Product</a> 
        <a routerLink="showall" class="btn btn-success"> Show All</a> 
        <a routerLink="search" class="btn btn-success"> Search</a> 
        <a href="" class="btn btn-danger"> Log Out</a> 
    </td>
</tr>

</table>



